<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        
    </header>
    <div>
        @*<partial name="_CookieConsentPartial" />*@
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2019 - Collin Kruger
        </div>
    </footer>

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @*@RenderSection("Scripts", required: false)*@

    <script>
        //document.querySelector("footer").addEventListener("click", e => {
        //    //alert('hi');
        //    console.log(e);
        //    e.currentTarget.classList.toggle("hide");
        //});

        document.addEventListener("scroll", e => {
            const doc = document.documentElement;
            const top = doc.scrollTop;
            const bottom = doc.scrollHeight - doc.clientHeight - top;

            if (bottom < 64) {
                document.querySelector("footer").classList.remove("hide");
            } else {
                document.querySelector("footer").classList.add("hide");
            }
        });
    </script>
</body>
</html>
